body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cell {
  background-image: url(svg/pieces.svg);
  background-position-x: +100px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 48px;
  width: 48px;
}

.cell.black.knight {
  background-position-y: -45px;
  background-position-x: -135px;
}
.cell.black.rook {
  background-position-y: -45px;
  background-position-x: -180px;
}
.cell.black.bishop {
  background-position-y: -45px;
  background-position-x: -90px;
}
.cell.black.pawn {
  background-position-y: -45px;
  background-position-x: -220px;
}
.cell.black.king {
  background-position-y: -45px;
  background-position-x: 0px;
}
.cell.black.queen {
  background-position-y: -45px;
  background-position-x: -45px;
}

.cell.white.knight {
  background-position-x: -135px;
}
.cell.white.rook {
  background-position-x: -180px;
}
.cell.white.bishop {
  background-position-x: -90px;
}
.cell.white.pawn {
  background-position-x: -220px;
}
.cell.white.king {
  background-position-x: 0px;
}
.cell.white.queen {
  background-position-x: -45px;
}

.cell.selected  {
  background-color: PaleGreen !important;
  outline: 1px solid Pink;
}
.cell.path {
  background-color: PaleGreen !important;
}
.cell.attack {
  background-color: Pink !important;
}

.board {
  display: block;
  width: 400px;
  height: 400px;
}

.board .cell:nth-child(-2n+8),
.board .cell:nth-child(8) ~ .cell:nth-child(-2n+15),
.board .cell:nth-child(16) ~ .cell:nth-child(-2n+24),
.board .cell:nth-child(24) ~ .cell:nth-child(-2n+31),
.board .cell:nth-child(32) ~ .cell:nth-child(-2n+40),
.board .cell:nth-child(40) ~ .cell:nth-child(-2n+47),
.board .cell:nth-child(48) ~ .cell:nth-child(-2n+56),
.board .cell:nth-child(56) ~ .cell:nth-child(-2n+63) {
    background-color: #eee;
}
